body {
    background-color: rgb(85, 132, 163);
}

:root {
    --color-poc: tomato;
}

app-element::part(hello) {
    font-size: x-large;
}

app-element p {
    font-size: x-large;
}

nav {
    border: 5px solid black;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: aliceblue;
    border-radius: 20px;
}
nav a {
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    margin: 5px;
}

nav a:hover {
    background-color: rgb(85, 132, 163);
    border-radius: 20px;
}